body

{
    background-image: url("data/fond1.jpeg");
    background-color: #cccccc;
}
img{
    background-color: rgb(0, 0, 0);
}

h2{


    color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

#titre{

    color: blue;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
}

#boutons{

    color: rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 0);
}