body
{
    background-image: url("data/flame1.jpeg");
    background-color: #cccccc;
}

h1{
    color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
}

h2{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
}
h3{
    font-size: xx-large;
    color:red;
    background-color: black;
}