body

{
    background-image: url("data/fond_cactus.gif");
    background-color: #cccccc;
}
h1{
    color: rgb(212, 0, 255);
    background-color:black
}

h2{
color:rgb(0, 0, 0);
background-color:rgb(30, 255, 0)
}

h3{
    font-size: xx-large;
    color: red;
    background-color:black
    }
    p{
        font-size: large;

    }