body

{
    background-image: url("data/fond_pothos.jpg");
    background-color: #cccccc;
}
h1{
    color: rgb(238, 255, 0);
    background-color:rgb(228, 100, 175)
}

h2{
color:rgb(38, 0, 255);
background-color:rgb(30, 255, 0)
}

h3{
    font-size: xx-large;
    color: red;
    background-color:black
    }

    p{
        font-size: large;

    }