body

{
    background-image: url("data/fond_aloes.jpg");
    background-color: #cccccc;
}
h1{
    color: chartreuse;
    background-color:black
}

h2{
color:blueviolet;
background-color:cornflowerblue
}
h3{
font-size: xx-large;
color: red;
background-color:black

}
p{
    font-size: large;

}